In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

# Data Loading Stage + Pre-processing

In [2]:
# From https://www.kaggle.com/kazanova/sentiment140
# Added custom column header line to the csv after download
df = pd.read_csv('training.1600000.processed.noemoticon.csv', encoding='latin-1')

In [3]:
df.head(10)

,target,ids,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
5,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew
6,0,1467811592,Mon Apr 06 22:20:03 PDT 2009,NO_QUERY,mybirch,Need a hug
7,0,1467811594,Mon Apr 06 22:20:03 PDT 2009,NO_QUERY,coZZ,@LOLTrish hey long time no see! Yes.. Rains a...
8,0,1467811795,Mon Apr 06 22:20:05 PDT 2009,NO_QUERY,2Hood4Hollywood,@Tatiana_K nope they didn't have it
9,0,1467812025,Mon Apr 06 22:20:09 PDT 2009,NO_QUERY,mimismo,@twittera que me muera ?

In [4]:
final_df = df.drop(['ids', 'date', 'flag', 'user'], axis=1) # drop cols that aren't useful for our model
final_df

         target                                               text
0             0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1             0  is upset that he can't update his Facebook by ...
2             0  @Kenichan I dived many times for the ball. Man...
3             0    my whole body feels itchy and like its on fire
4             0  @nationwideclass no, it's not behaving at all....
...         ...                                                ...
1599995       4  Just woke up. Having no school is the best fee...
1599996       4  TheWDB.com - Very cool to hear old Walt interv...
1599997       4  Are you ready for your MoJo Makeover? Ask me f...
1599998       4  Happy 38th Birthday to my boo of alll time!!! ...
1599999       4  happy #charitytuesday @theNSPCC @SparksCharity...

[1600000 rows x 2 columns]

In [5]:
print('Number of Negative Sentiment Tweets:', len(final_df[final_df['target'] == 0]))
print('Number of Neutral Sentiment Tweets:', len(final_df[final_df['target'] == 2]))
print('Number of Positive Sentiment Tweets:', len(final_df[final_df['target'] == 4]))

Number of Negative Sentiment Tweets: 800000
Number of Neutral Sentiment Tweets: 0
Number of Positive Sentiment Tweets: 800000

### Notice no neutral sentiment data

In [6]:
final_df.target = final_df.target / 4 # convert the target column to 0 and 1 labels where 1 is positive

In [7]:
final_df

         target                                               text
0           0.0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1           0.0  is upset that he can't update his Facebook by ...
2           0.0  @Kenichan I dived many times for the ball. Man...
3           0.0    my whole body feels itchy and like its on fire
4           0.0  @nationwideclass no, it's not behaving at all....
...         ...                                                ...
1599995     1.0  Just woke up. Having no school is the best fee...
1599996     1.0  TheWDB.com - Very cool to hear old Walt interv...
1599997     1.0  Are you ready for your MoJo Makeover? Ask me f...
1599998     1.0  Happy 38th Birthday to my boo of alll time!!! ...
1599999     1.0  happy #charitytuesday @theNSPCC @SparksCharity...

[1600000 rows x 2 columns]

### Split into Training and Test Splits for Model Evaluation

In [8]:
train_df, test_df = train_test_split(final_df, test_size=0.20)

In [9]:
print('Training Set Stats:')
print('Size of Training Set:', len(train_df))
print('Number of Negative Sentiment Tweets:', len(train_df[train_df['target'] == 0]))
print('Number of Positive Sentiment Tweets:', len(train_df[train_df['target'] == 1]))

Training Set Stats:
Size of Training Set: 1280000
Number of Negative Sentiment Tweets: 639874
Number of Positive Sentiment Tweets: 640126

In [10]:
print('Test Set Stats:')
print('Size of Test Set:', len(test_df))
print('Number of Negative Sentiment Tweets:', len(test_df[test_df['target'] == 0]))
print('Number of Positive Sentiment Tweets:', len(test_df[test_df['target'] == 1]))

Test Set Stats:
Size of Test Set: 320000
Number of Negative Sentiment Tweets: 160126
Number of Positive Sentiment Tweets: 159874

# Count-Vectorizer Model

# Tf-Idf Model

# Word2Vec Model 
### Generate similarity scores of words for visualization